.generate-code-details > h2 {
  font-size: 14px;
}

.generate-code-details > .tabs {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.generate-code-details > .tabs > li {
  display: inline-block;
  line-height: 12px;
  white-space: nowrap;
}

.generate-code-details > .tabs > li::after {
  content: "|";
  font-size: 12px;
  margin-left: 5px;
}

.generate-code-details > .tabs > li:last-of-type:after {
  display: none;
}

.generate-code-details > .tabs > li > button:hover {
  text-decoration: underline;
}

.generate-code-details .tabs-content form {
  display: none;
}

.generate-code-details .tabs-content form.active {
  display: block;
}

.code-input-label {
  font-size: 10px;
}

.code-input {
  width: 100px;
  display: block;
  border: none;
  font-size: 8px;
  margin: 3px 0;
}

.error-message {
  color: #ff0000;
  font-size: 8px;
}
