button {
  background: #ebbe1e;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 10px;
}

button.link-button {
  color: #ebbe1e;
  border: none;
  background: none;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
  width: auto;
}

button.link-button.active {
  text-decoration: underline;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
